<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXc_whwUvYreFccwh3QxDKDSEROACcFHA</string>
	<key>GCM_SENDER_ID</key>
	<string>165169370813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-95335</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-95335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165169370813:ios:538c47971c6e6ed9a889d4</string>
</dict>
</plist>